.write {
    padding-top: 6rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.writeImg {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2rem;
}
#fileInput {
    display: none;
}
.plusIcon {
    margin-right: 2rem;
    border-radius: 100%;
    border: 2px solid #e8e6e3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plusIcon:hover {
    cursor: pointer;
}
.writeFormGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#writeInput {
    width: 700px;
    font-size: 4vh;
    padding: 0.5rem 1rem;
    background-color: #262626;
    caret-color: #e8e6e3;
    color: #e8e6e3;
}
#writeInput::placeholder {
    color: #e8e6e3;
}
#author {
    background-color: #262626;
    margin-top: 2rem;
    caret-color: #e8e6e3;
    color: #e8e6e3;
    font-size: 3vh;
    padding: 0.5rem;
}
#writeText {
    width: 900px;
}
.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 4rem 0;
}

.ck-editor {
    background-color: #262626;
    width: 1000px;
}
.ck-editor__editable_inline {
    min-height: 400px;
}

@media only screen and (max-width: 900px) {
    #writeInput, #writeText {
        width: 60vw;
    }
}